body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #5eaf5e;
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
}

.header h1 {
    margin: 0 0 10px 0;
}

.slideshow {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bd3dac;
}